ipykernel==6.24.0
nbconvert==7.6.0
nbformat==5.9.0

# Note: 
# This list contains only the packages for converting notebooks to HTML pages
# Because it is not recommended to run notebooks for TensorFlow models locally. It should be run Google Colab instead.
# There are 2 reasons for this:
# 1. Training these models requires GPU; otherwise it takes extremely long
# 2. The TensorFlow Model Zoo Object Detection API is deprecated. There are many packages conflicts.
# For example: evaluation requires another version of pillow compared to training, for the same model.
# Please refer to the notebooks for more details and instructions